<div class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
    <div class="container">
        <div class="navbar-light">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            @Html.ActionLink("Employee", "Index", "Employee", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              
                @*<li>@Html.ActionLink("Movies", "Movies", "Movies")</li>*@
            </ul>
        </div>
    </div>
</div>